<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				useThumbDots="true"
					galleryTitle="Photos de Guillaume Lemoine"
					useFullscreenExpand="true"
		>

			<image imageURL="images/20100226-DSC_5054-Modifier.jpg" thumbURL="thumbs/20100226-DSC_5054-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Ligne 2]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Il_me_reste_des_VHS-Ae_roport-San-Jose-Californie-USA-2.jpg" thumbURL="thumbs/Il_me_reste_des_VHS-Ae_roport-San-Jose-Californie-USA-2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Il me reste des VHS]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/2012_05_20_0071-HDR-Modifier.jpg" thumbURL="thumbs/2012_05_20_0071-HDR-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Buren]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/AA_JFK-Ae_roport-New-York-New-York-USA-3.jpg" thumbURL="thumbs/AA_JFK-Ae_roport-New-York-New-York-USA-3.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[AA @ JFK]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20100101-DSC_4535-Modifier.jpg" thumbURL="thumbs/20100101-DSC_4535-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Jour de Fête 2]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Question_de_calendrier--Boulogne-Ile_de_France-France-8.jpg" thumbURL="thumbs/Question_de_calendrier--Boulogne-Ile_de_France-France-8.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Question de calendrier]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC0024-Modifier.jpg" thumbURL="thumbs/DSC0024-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Wynn]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/L_ordre_du_jour-Le_Louvre-Paris-Ile_de_France-France-9.jpg" thumbURL="thumbs/L_ordre_du_jour-Le_Louvre-Paris-Ile_de_France-France-9.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[L'ordre du jour]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20090516-_DSC4747-Modifier.jpg" thumbURL="thumbs/20090516-_DSC4747-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Tate ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Watt-Tuileries-Paris-Ile_de_France-France-14.jpg" thumbURL="thumbs/Watt-Tuileries-Paris-Ile_de_France-France-14.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Clara Clara]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20090706-_DSC7242-Modifier.jpg" thumbURL="thumbs/20090706-_DSC7242-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Escalier de Bramante]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Dinosaur-Natural_History_Museum-Londres-Londres-Royaume-Uni-23.jpg" thumbURL="thumbs/Dinosaur-Natural_History_Museum-Londres-Londres-Royaume-Uni-23.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Dinosaure]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/manegeVenise.jpg" thumbURL="thumbs/manegeVenise.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Manege venise]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Continental-Denfert-Rochereau-Paris-Ile_de_France-France-29.jpg" thumbURL="thumbs/Continental-Denfert-Rochereau-Paris-Ile_de_France-France-29.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Continental]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20100319-_DSC5617-Modifier.jpg" thumbURL="thumbs/20100319-_DSC5617-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Venise]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Blocage-Futuroscope-Poitiers-Poitou-France-36.jpg" thumbURL="thumbs/Blocage-Futuroscope-Poitiers-Poitou-France-36.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Blocage]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC9001-Modifier.jpg" thumbURL="thumbs/DSC9001-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Vassar]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC02130.jpg" thumbURL="thumbs/DSC02130.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Nos malles sont encore au port]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC5785-Modifier.jpg" thumbURL="thumbs/DSC5785-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Santa Monica]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC01363.jpg" thumbURL="thumbs/DSC01363.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Sports]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Beach_Volley-Plage-Trouville-Normandie-France-35-Modifier.jpg" thumbURL="thumbs/Beach_Volley-Plage-Trouville-Normandie-France-35-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Beach Volley]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC02268.jpg" thumbURL="thumbs/DSC02268.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Les skieurs sont rentrés]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Vue_sur_l_Oce_an-ICA-Boston-Massachusetts-USA-12.jpg" thumbURL="thumbs/Vue_sur_l_Oce_an-ICA-Boston-Massachusetts-USA-12.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Vue sur l'Océan]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC9111.jpg" thumbURL="thumbs/DSC9111.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Time Square]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC04100.jpg" thumbURL="thumbs/DSC04100.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Stromboli]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Big_Apple-Times_Square-New-York-New-York-USA-32.jpg" thumbURL="thumbs/Big_Apple-Times_Square-New-York-New-York-USA-32.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Big Apple]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_1122-Modifier.jpg" thumbURL="thumbs/DSC_1122-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Course poursuite]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC2572-Modifier.jpg" thumbURL="thumbs/DSC2572-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ernst &amp; young]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_0005.jpg" thumbURL="thumbs/DSC_0005.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Un Ballon dans le Salon]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Lake_Princess-Grand_Hotel-Menaggio-Lombardie-Italie-1.jpg" thumbURL="thumbs/Lake_Princess-Grand_Hotel-Menaggio-Lombardie-Italie-1.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Lake Princess]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_1123-2.jpg" thumbURL="thumbs/DSC_1123-2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Doha]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_1212.jpg" thumbURL="thumbs/DSC_1212.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Statue]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_1342.jpg" thumbURL="thumbs/DSC_1342.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Liquider la situation actuelle]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_1841.jpg" thumbURL="thumbs/DSC_1841.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[gaudi]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_3294.jpg" thumbURL="thumbs/DSC_3294.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[paris 14]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080507-DSC_3792.jpg" thumbURL="thumbs/20080507-DSC_3792.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[The Road to Île]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080521-DSC_4999.jpg" thumbURL="thumbs/20080521-DSC_4999.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Corporation News]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080523-DSC_5164.jpg" thumbURL="thumbs/20080523-DSC_5164.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Elephant]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080608-DSC_6004.jpg" thumbURL="thumbs/20080608-DSC_6004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Spider]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080610-DSC_6113.jpg" thumbURL="thumbs/20080610-DSC_6113.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[A prendre ou à laisser]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080613-DSC_6227.jpg" thumbURL="thumbs/20080613-DSC_6227.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Hotel]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080613-DSC_6310.jpg" thumbURL="thumbs/20080613-DSC_6310.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[China]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080614-DSC_6565-Modifier.jpg" thumbURL="thumbs/20080614-DSC_6565-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Dernier départ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080619-DSC_6786-Edit.jpg" thumbURL="thumbs/20080619-DSC_6786-Edit.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Et si la tour penchait?]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080702-DSC_7525.jpg" thumbURL="thumbs/20080702-DSC_7525.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Sunset]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080705-DSC_7908.jpg" thumbURL="thumbs/20080705-DSC_7908.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Le bout]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080709-DSC_8559.jpg" thumbURL="thumbs/20080709-DSC_8559.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Potable]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080730-DSC_9304-Modifier.jpg" thumbURL="thumbs/20080730-DSC_9304-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[UFO]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080730-DSC_9315.jpg" thumbURL="thumbs/20080730-DSC_9315.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[La plus jeune est la plus grande]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080816-DSC_9739.jpg" thumbURL="thumbs/20080816-DSC_9739.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Clavier à Pédales]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080819-DSC_9828.jpg" thumbURL="thumbs/20080819-DSC_9828.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Un type en rouge approche]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20080315-DSC_0371.jpg" thumbURL="thumbs/20080315-DSC_0371.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Grapefruit]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20090326-_DSC1031.jpg" thumbURL="thumbs/20090326-_DSC1031.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Oh Darling]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20090329-_DSC1453.jpg" thumbURL="thumbs/20090329-_DSC1453.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Wide Load]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20090420-_DSC3058.jpg" thumbURL="thumbs/20090420-_DSC3058.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Royal Automobile Club]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20090425-_DSC3243.jpg" thumbURL="thumbs/20090425-_DSC3243.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[On aborde jamais le fond]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/A_secret_about_a_secret-Tate_Modern-Londres-Londres-Royaume-Uni-22.jpg" thumbURL="thumbs/A_secret_about_a_secret-Tate_Modern-Londres-Londres-Royaume-Uni-22.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[A secret about a secret]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Jacques_chancelle-myStreet-Malakoff-Ile_de_France-France-24.jpg" thumbURL="thumbs/Jacques_chancelle-myStreet-Malakoff-Ile_de_France-France-24.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Jacques chancelle]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20090817-_DSC9991-Modifier.jpg" thumbURL="thumbs/20090817-_DSC9991-Modifier.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Un espace de liberté]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20100227-DSC_5194.jpg" thumbURL="thumbs/20100227-DSC_5194.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Grand Central]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Kiss_that_Frog--Venise-Ve_ne_tie-Italie-33.jpg" thumbURL="thumbs/Kiss_that_Frog--Venise-Ve_ne_tie-Italie-33.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Kiss that Frog]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC6307-Edit.jpg" thumbURL="thumbs/DSC6307-Edit.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Bowling]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/2010_08_02_0018.jpg" thumbURL="thumbs/2010_08_02_0018.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Apocalypse]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC9948.jpg" thumbURL="thumbs/DSC9948.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Mac Do]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC9937.jpg" thumbURL="thumbs/DSC9937.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Tropicana]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC0806.jpg" thumbURL="thumbs/DSC0806.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Pingouin]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
